:root {
    --main-black: #000000;
    --main-white: #ffffff;
    --main-gray: #d9d9d9;
    --main-red: red;
    --main-green: rgb(11, 201, 11);
    --background-form: #ffffffcc;
    --background-btn-primary: #007BFF;
    --background-header: #00000078;
    --text-title-gray: #5F5F5F;
    --text-link-blue: #1E5CFD;
    --text-btn-home: #C40000;
    --border-gray: #a1a1a1eb;
    --btn-gray: #6c757d;
    --hover-text-header: #770303;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}
