.image-main-home {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
}

.list-blog {
    padding: 0;
    margin: 72.5px 101px 96px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 38px;

        h1 {
            @include text-setting (50px, 700, var(--main-black));
        }

        select {
            border-radius: 4px;
            padding: 0px 10px;
            height: 40px;
            font-weight: 500;
        }
    }

    .all-item {
        width: 100%;
        @include flex-center(flex-start, stretch);
        flex-wrap: wrap;

        .item-blog {
            width: calc(33.3333% - 20px);
            border-radius: 8px;
            margin: 0 20px 70px 0;
            background: var(--main-white);
            overflow: hidden;
            border: 1px solid var(--border-gray);

            .item-blog-img {
                width: 100%;
                height: 275px;
                overflow: hidden;
                margin-bottom: 25px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px 8px 0px 0px;
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .item-blog-content {
                margin: 0 13px 0 20px;
                border-radius: 0 0 6px 6px;

                .info {
                    height: 31px;
                    margin: 0 0 15px 0;
                    display: flex;
                    align-items: center;

                    .author {
                        display: flex;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 4px;
                            border-radius: 50%;
                        }

                        p {
                            font-family: "SVN-Gilroy";
                            height: 31px;
                            @include text-setting (18px, 400, var(--main-black));
                            line-height: 30px;
                        }
                    }

                    .time {
                        display: flex;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin: 0 8px 0 60px;
                            border-radius: 50%;
                        }

                        p {
                            font-family: "SVN-Gilroy";
                            height: 31px;
                            @include text-setting (18px, 400, var(--main-black));
                            line-height: 30px;
                        }
                    }
                }

                .text-detail {
                    p {
                        font-family: "SVN-Gilroy";
                        margin-bottom: 29px;
                        @include text-setting (18px, 400, var(--main-black));
                        line-height: 25px;
                        letter-spacing: 0em;

                        &:first-child {
                            font-family: "SVN-Gilroy-Bold";
                            margin-bottom: 10px;
                            @include text-setting (20px, 700, var(--main-black));
                            line-height: 28px;
                        }
                    }
                }

                .text-link {
                    button {
                        display: flex;
                        align-items: center;
                        width: 137px;
                        height: 40px;
                        font-family: "SVN-Gilroy";
                        margin-bottom: 21px;
                        border: 1px solid #E4E4E4;
                        padding: 10px 20px 10px 15px;
                        transition: all 0.3s linear;
                        color: var(--text-btn-home);

                        a {
                            width: 76px;
                            height: 20px;
                            @include text-setting (14px, 400, var(--text-btn-home));
                            line-height: 20px;
                            margin-right: 8px;
                        }

                        i {
                            width: 10px;
                            height: 10px;
                            color: var(--text-btn-home);
                        }

                        &:hover {
                            background-color: var(--text-btn-home);
                            cursor: pointer;

                            a,
                            i {
                                color: var(--main-white);
                            }
                        }
                    }
                }
            }
        }
    }
    .paginate {
        @include paginate;
    }
}

.notify-create-blog-success {
    display: flex;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 4px;
    padding: 0px 15px;
    border-left: 4px solid var(--main-green);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 115px;
    right: 1px;
    animation: fadeOut linear 10s 2s forwards;

    .notify-icon {
        i {
            color: var(--main-green);
            font-size: 24px;
            padding-right: 15px;
        }
    }

    .notify-body {
        h3 {
            margin: 15px 0px 5px 0px;
        }

        p {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--text-title-gray);
            margin: 5px 0px 15px 0px;
        }
    }

    .notify-close {
        i {
            font-size: 20px;
            font-weight: 700;
            padding-left: 15px;
            color: var(--border-gray);
            cursor: pointer;

            &:hover {
                color: var(--main-black);
            }
        }
    }
}

.notify-create-blog-error {
    display: flex;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 4px;
    padding: 0px 15px;
    border-left: 4px solid var(--main-red);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 115px;
    right: 1px;
    animation: fadeOut linear 10s 2s forwards;

    .notify-icon {
        i {
            color: var(--main-red);
            font-size: 24px;
            padding-right: 15px;
        }
    }

    .notify-body {
        h3 {
            margin: 15px 0px 5px 0px;
        }

        p {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--text-title-gray);
            margin: 5px 0px 15px 0px;
        }
    }

    .notify-close {
        i {
            font-size: 20px;
            font-weight: 700;
            padding-left: 15px;
            color: var(--border-gray);
            cursor: pointer;

            &:hover {
                color: var(--main-black);
            }
        }
    }
}

.notify-delete-blog-success {
    display: flex;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 4px;
    padding: 0px 15px;
    border-left: 4px solid var(--main-green);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 115px;
    right: 1px;
    animation: fadeOut linear 10s 2s forwards;

    .notify-icon {
        i {
            color: var(--main-green);
            font-size: 24px;
            padding-right: 15px;
        }
    }

    .notify-body {
        h3 {
            margin: 15px 0px 5px 0px;
        }

        p {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--text-title-gray);
            margin: 5px 0px 15px 0px;
        }
    }

    .notify-close {
        i {
            font-size: 20px;
            font-weight: 700;
            padding-left: 15px;
            color: var(--border-gray);
            cursor: pointer;

            &:hover {
                color: var(--main-black);
            }
        }
    }
}

.notify-delete-blog-error {
    display: flex;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 4px;
    padding: 0px 15px;
    border-left: 4px solid var(--main-red);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 115px;
    right: 1px;
    animation: fadeOut linear 10s 2s forwards;

    .notify-icon {
        i {
            color: var(--main-red);
            font-size: 24px;
            padding-right: 15px;
        }
    }

    .notify-body {
        h3 {
            margin: 15px 0px 5px 0px;
        }

        p {
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--text-title-gray);
            margin: 5px 0px 15px 0px;
        }
    }

    .notify-close {
        i {
            font-size: 20px;
            font-weight: 700;
            padding-left: 15px;
            color: var(--border-gray);
            cursor: pointer;

            &:hover {
                color: var(--main-black);
            }
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
